<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div>
        <h1><u>SilverChords</u></h1>
        <img src="/media/cover1.jpg" alt="LaMusique Logo" height='30' width='40'>
        <form action='{% url 'search' %}' method='POST'>
        {% csrf_token %}
        <input type='text' name='search_token' >
        <input type='submit' value='Search'>
        </form>
        <button type="button" href="">Home</button>
        <button type="button">Gallery</button>
        <button type="button" onclick="location.href='{% url 'profile' %}'">Profile</button>
        <button type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
        <button type="button" onclick="location.href='{% url 'upload' %}'">Upload</button>
        <button type="button" onclick="location.href='{% url 'notification' %}'">Notification</button>
    </div>
    <div>
        {% if messages %}
        {% for message in messages %}
        {{message}}    
        {% endfor %}
        {% endif %}
        {% block Main_Content %} {% endblock %}
    </div>
</body>
</html>