{% load static %}
{% load jsonify %}
<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<title>Search Page</title>
</head>
<body>
<script src="{% static "main.js" %}" type='text/javascript'></script>
<h1><u>Search Page</u></h1>
<br>
<br>

<audio controls id='cntl'>
    <source src="" type="audio/wav" >
    Your browser does not support the audio tag.
</audio>

{% if work.count %}
<h2>Beats</h2>
{% for beat in work %}
    <img alt="Beat Image" src='{{beat.beat_img.url}}' onclick="location.href='{% url 'beat-details' pk=beat.Bid %}'">
    <br>
    <h3>{{beat.beat_name}}</h3>
    <br>
    <button id='Play_Button' onclick="play()">Playsss</button>
    
    <script type="text/javascript">
                function play()
                {
                    var audio = document.getElementById("cntl")
                    audio.src= "{{beat.beat.url}}";
                    audio.load();
                    audio.play();

                    var a = parseInt({{beat.Bid}});
                    $.ajax({
                    url : '{% url 'playsong' %}', // the endpoint
                    type : "POST", // http method
                    data : { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'Bid' : a },
                    });}
    </script>
    
{% endfor %}
{% endif %}
<br>


{% if genres.count %}
<h2>Genres</h2>
{% for beat in genres %}
    <img alt="Beat Image" src='{{beat.beat_img.url}}' onclick="location.href='{% url 'beat-details' pk=beat.Bid %}'" >
    <br>
    {{beat.beat_name}}
    <br>
    <button id='Play_Button' onclick="play()">Playsss</button>
    
    <script type="text/javascript">
                function play()
                {
                    var audio = document.getElementById("cntl")
                    audio.src= "{{beat.beat.url}}";
                    audio.load();
                    audio.play();

                    var a = parseInt({{beat.Bid}});
                    $.ajax({
                    url : '{% url 'playsong' %}', // the endpoint
                    type : "POST", // http method
                    data : { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'Bid' : a },
                    });}
    </script>
{% endfor %}
{% endif %}
<br>
{% if users.count %}
<h2>Users</h2>
{% for user in users %}
    <img alt="Users Image" src='{{user.profile.artist_photo.url}}' onclick="location.href='{% url 'userinfo' pk=user.id %}'">
    <br>
    <h3>{{user.username}}</h3>
    <h3>Badge:-{{user.profile.badge}}</h3>
{% endfor %}
{% else %}
{% endif %}

</body>
</html>