<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<title>SilverChords</title>
</head>
<body>
<img alt='SilverChords Logo' src='/media/cover21.jpg' height='300' weight='400'>
<br>
<h1>SilverChords</h1>
<br>
<a href='{% url 'login' %}'>Login/SignUp</a>
<br>
<h2>What we are doing</h2>
<br>
<h3>Monetize your music talent</h3>
<br>
<img alt='Buy and Sell Logo' src='/media/cover31.jpg' height='200' weight='600'>
<br>
<h3>Online Consultancy</h3>
<br>
<img alt='Online Logo' src='/media/cover41.jpg' height='200' weight='600'>
<br>
<h3>Song as an assets</h3>
<br>
<img alt='Assets Logo' src='/media/cover51.jpg' height='200' weight='600'>
<br>
</body>
</html>