.box {
    font-family: 'Kanit', sans-serif;
    overflow: hidden;
    position: relative;
}

.box:before,
.box:after {
    content: '';
    background: linear-gradient(to right, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8));
    height: 10%;
    width: 20%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: absolute;
    left: 0;
    top: -60%;
    transition: all 0.3s ease;
}

.box:after {
    top: auto;
    bottom: -75%;
    left: auto;
    right: 0;
}

.box:hover:before,
.box:hover:after {
    opacity: 0.9;
    transform: rotate(22deg);
}

.box img {
    width: 100%;
    height: auto;
}

.box .box-content {
    color: #fff;
    text-align: right;
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: top center;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    transition: all 0.3s ease;
}

.box:hover .box-content {
    opacity: 1;
    transform: rotateX(0);
}

.box .title {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.box .post {
    font-size: 16px;
    text-transform: capitalize;
    font-style: italic;
}

.box .icon {
    width: 70%;
    padding: 7px 10px;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: bottom center;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s ease;
}

.box:hover .icon {
    opacity: 1;
    transform: rotateX(0);
}

.box .icon li {
    display: inline-block;
    margin: 0 2px;
}

.box .icon li a {
    color: #fff;
    background-color: transparent;
    font-size: 15px;
    text-align: center;
    line-height: 32px;
    height: 35px;
    width: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    transition: all 0.3s;
}

.box .icon li a:hover {
    box-shadow: 0 0 5px #fff;
}

@media only screen and (max-width:990px) {
    .box {
        margin: 0 0 30px;
    }
}