{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{{user.username}} Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href='{% static 'boot/css/bootstrap.min.css' %}' type="text/css" />
		<script src='{% static 'main.js' %}' type="text/javascript"></script>
		<script src='{% static 'play.js' %}' type="text/javascript"></script>
		<script src='{% static 'boot/js/bootstrap.min.js' %}' type="text/javascript"></script>
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/main1.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'imagehover.css' %}" />


	</head>

	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a style='text-decoration: none; font-style: italic; text-transform:lowercase;' href="{% url 'silverchords' %}">SilverChords.Com</a></h1>

						<nav>
						{% if ncount or count %}  
							<a href="#menu">Menu <i class="fas fa-circle" style='color:#FE1414'></i></a>
						{% else %}
							<a href="#menu">Menu</a>
						{% endif %} 
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2><a style=" text-decoration:none; font-size:15px; font-family:cursive;" href="#menu">Your Cart <i class="fa fa-shopping-cart" style="font-size:36px; "></i><strong style='margin-bottom:20px;'>{{count}}<strong></a></h2>
							<ul class="links">
								<li><a class='text-white' style='text-decoration: none; font-family:cursive; ' href="{% url 'home' %}">Home</a></li>
								<li><a class='text-white' style='text-decoration: none; font-family:cursive;' href="{% url 'gallery' %}">Gallery</a></li>
								<li><a class='text-white' style='text-decoration: none; font-family:cursive;' href="{% url 'notification' %}">{% if ncount %} <i class="fas fa-circle" style='color:#FE1414'></i> {% endif %} Notification  </a></li>
								<li><a class='text-white' style='text-decoration: none; font-family:cursive;' href="{% url 'editinfo' %}">Edit Info</a></li>
								<li><a class='text-white' style='text-decoration: none; font-family:cursive;' href="{% url 'verification' %}">Verification</a></li>
								<li><a class='text-white' style='text-decoration: none; font-family:cursive;' href="{% url 'upload' %}">Upload</a></li>
								<li><a class='text-white' style='text-decoration: none; font-family:cursive; display:inline;' href="{% url 'advice' %}">Advice Corner<p style='color:orange; font-size:10px; display:inline;'>  New/FREE</p></a></li>
								<li><a class='text-white' style='text-decoration: none; font-family:cursive;' href="{% url 'history' %}">History</a></li>
								<li><a class='text-white' style='text-decoration: none; font-family:cursive;' href="{% url 'logout' %}">Logout</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper" style='background-color: #555867;'>
						<header>
							<div class="inner" style='height:200px;'>
                                <h1 style='margin-left:180px; font-size:60px; font-family:Bradley Hand, cursive; '>SilverChords</h1>
                                <form action='{% url 'search' %}' method='POST'>
                                {% csrf_token %}
                                <div style='margin-left:135px;'>
								<input type='text' style='width:500px; display:inline;' placeholder="@username/beats/genre" name='search_token' value='{{name}}' >
                                <input style=' display:inline;' type='submit' value='Search'>
								</div>
                                </form>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

        							<h2 class='pb-1' style='text-align: center; margin-right:50px; font-family:cursive; font-size: 2.5em;'>Profile</h2>

                                    <audio controls id='cntl'>
                                        <source src="" type="audio/wav" >
                                        Your browser does not support the audio tag.
                                    </audio>
									{% if messages %}
									{% for message in messages %}
										<p class="alert alert-dark" role="alert" style="text-align:center"> "{{ message }}"</p>
									{% endfor %}
									{% endif %}
                                    <div class='col-12' style='padding:30px;'>
                                        <h1 style='display: inline;text-transform:lowercase; font-family:cursive; font-weight:100; font-size:30px;'>@{{user.username}}</h1>
										<div style='display:inline;'>
												<a style='text-decoration: none; display: inline; padding: 15px;' href="{{user.profile.fb}}"><i class="fa fa-facebook" style="font-size:25px "></i></a>
                                                <a style='text-decoration:none; display: inline; padding: 15px;' href="{{user.profile.insta}}"><i class="fa fa-instagram" style="font-size:25px"></i></a>
                                                <a style='text-decoration:none; display: inline; padding: 15px;' href="{{user.profile.youtube}}"><i class="fa fa-youtube-square" style="font-size:25px"></i></a>
                                        
										</div>
                                        <br>
                                        <br>
                                    <div class="box alt">
                                            <div class="row gtr-uniform">
                                                <div class="col-12" style='height:330px;'><span class="image fit"><img style='height:450px; border: 2px solid white; border-radius: 5px;' src="{{ user.profile.cover_photo.url }}" alt="user cover" /></span></div>
                                                <div class="col-4" style=''><span class="image fit"><img style=' margin-left:320px; height:200px; width:230px; padding: 0px; border: 5px solid white; border-radius:50%;' src="{{ user.profile.artist_photo.url }}" alt="user profile" /></span></div>

                                            </div>
                                        </div>

                                        <div id='artist_intro' style='margin-left:40px;' >
                                                <h3 style='font-family:cursive; padding:10px;'>About:-</h3>
                                                <p  style='height:100px; width:800px; overflow: auto; font-size:20px; padding: 10px; border: 0.5px solid white;border-radius: 5px;'>  {{user.profile.desc}} </p>
                                         </div>
                                        <br>

                                        <div>
										
                                        <h2 class='pb-1' style='text-align: center; font-family:cursive; font-size: 2em;'>Work</h2>

                                        {% if beats.count %}
                                            <div class='rounded p-1 square scrollbar-light-blue thin' style='width:900px; overflow-x: auto; white-space: nowrap;'>
											{% for beat in beats %}
														<div class="" style='display: inline-block;'>
															<div class="col-md-10 col-sm-6 mx-auto" style='width:300px;'>
																<div class="box">
																	<img style='height:150px;' src="{{beat.beat_img.url}}">
																	<div class="box-content" style='white-space:normal;'>
																		<h3 class="title" style="font-size:20px; font-family:cursive;">{{beat.beat_name}}</h3>
																		<span class="post fa fa-music"><p style='display:inline;'>  {{beat.listens}}</p></span>
																	</div>
																	<ul class="icon">
																		<li><a href="{% url 'beat-details' pk=beat.Bid %}"><i class="fa fa-search"></i></a></li>
																		<li><i class="fa fa-play" id='Play_Button' onclick="play('{{beat.beat.url}}', '{{beat.Bid}}','{% url 'playsong' %}')"></i></li>
																	</ul>
																	
																</div>
															<a href="{% url 'editbeat' beat.Bid %}" class="btn btn-primary a-btn-slide-text" style='margin-left:50px;'>
                                                        <span><strong>Edit</strong></span>            
                                               </a>
											   <a href="{% url 'deletebeat' beat.Bid %}" class="btn btn-primary a-btn-slide-text" style='margin-left:0px;'>
                                                        <span><strong>Delete</strong></span>            
                                               </a>
														</div>
													</div>
											{% endfor %}
										</div>
										{% else %}
										 <div>
											<p class='pb-1' style='text-align: center; font-weight:200; font-family:cursive; font-size: 2em;'>"Bruh Lets du Some Work"</p>
										 </div>
                                    {% endif %}

                                        </div>
                                    

								</div>
							</div>

					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>







