{% extends "users/verification.html" %}

{% load static %}

{% block title2 %}
History
{% endblock title2 %}

{% block title %}
    SilverChords history
{% endblock title %}

{% block Main_Content %}
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <div class="product-carousel" style='width:55em;'>						
							{% for beat in historys %}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{{beat.Bid.beat_img.url}}" style='height:16em; width:15em;' alt="">
                                    <div class="product-hover">
                                        <a style='margin-top:1em;' onclick="play('{{beat.Bid.beat.url}}', '{{beat.Bid.beat_name}}', '{{beat.Bid.beat_img.url}}', '{{beat.Bid.Bid}}','{% url 'playsong' %}')" class="add-to-cart-link" ><i class="fa fa-play"></i>Play</a>
                                    </div>
                                </div>                                
                                <h2><a style='text-decoration:none;' href="{% url 'beat-details' beat.Bid.Bid %}">{{beat.Bid.beat_name}}</a></h2>
                                <div class="product-carousel-price">
                                    <ins>${{beat.Bid.price}}</ins> <del>$100.00</del>
                                </div> 
                            </div>
							{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock Main_Content %}

